@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide{
  padding: 10px 5px;
}
.swiper-button-prev:after,  .swiper-button-next:after{
  color: #323232;
  opacity: 0.1;
  transition: all .3s ease;
}
.swiper-button-prev:hover:after,  .swiper-button-next:hover:after{
  opacity: 1;
}